<section class="santa-rita-wine-reviews" aria-labelledby="santa-rita-wine-reviews-title">
  <div class="santa-rita-wine-reviews__inner">
    <h2 id="santa-rita-wine-reviews-title" class="santa-rita-wine-reviews__title">Opiniones del vino</h2>

    <div class="santa-rita-wine-reviews__summary">
      <div class="santa-rita-wine-reviews__score" aria-label="Calificaci&oacute;n promedio 4.2 de 5">
        <p class="santa-rita-wine-reviews__score-value">4.2</p>
        <div class="santa-rita-wine-reviews__stars" aria-hidden="true">
          <span>&#9733;</span>
          <span>&#9733;</span>
          <span>&#9733;</span>
          <span>&#9733;</span>
          <span>&#9734;</span>
        </div>
        <p class="santa-rita-wine-reviews__count">134 calificaciones</p>
      </div>

      <div class="santa-rita-wine-reviews__breakdown" aria-label="Resumen de calificaciones">
        <div class="santa-rita-wine-reviews__bar">
          <meter class="santa-rita-wine-reviews__meter" min="0" max="100" value="42">42%</meter>
          <span>5 &#9733;</span>
        </div>
        <div class="santa-rita-wine-reviews__bar">
          <meter class="santa-rita-wine-reviews__meter" min="0" max="100" value="86">86%</meter>
          <span>4 &#9733;</span>
        </div>
        <div class="santa-rita-wine-reviews__bar">
          <meter class="santa-rita-wine-reviews__meter" min="0" max="100" value="62">62%</meter>
          <span>3 &#9733;</span>
        </div>
        <div class="santa-rita-wine-reviews__bar">
          <meter class="santa-rita-wine-reviews__meter" min="0" max="100" value="38">38%</meter>
          <span>2 &#9733;</span>
        </div>
        <div class="santa-rita-wine-reviews__bar">
          <meter class="santa-rita-wine-reviews__meter" min="0" max="100" value="18">18%</meter>
          <span>1 &#9733;</span>
        </div>
      </div>

      <button class="santa-rita-wine-reviews__add-button" type="button">Agregar opini&oacute;n</button>
    </div>

    <div class="santa-rita-wine-reviews__list">
      <article class="santa-rita-wine-reviews__item">
        <header class="santa-rita-wine-reviews__reviewer">
          <h3 class="santa-rita-wine-reviews__name">Jorge Villalobos</h3>
          <p class="santa-rita-wine-reviews__verified"><span aria-hidden="true">&#10003;</span> Verificado</p>
        </header>

        <div class="santa-rita-wine-reviews__content">
          <div class="santa-rita-wine-reviews__stars" aria-label="5 de 5 estrellas">
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
          </div>
          <p class="santa-rita-wine-reviews__text">muy rico el vino, muy rico en boca y con un aroma suave. 100% recomendado</p>
        </div>

        <time class="santa-rita-wine-reviews__date" datetime="2026-02-11">11/02/26</time>
      </article>

      <article class="santa-rita-wine-reviews__item">
        <header class="santa-rita-wine-reviews__reviewer">
          <h3 class="santa-rita-wine-reviews__name">Jorge Villalobos</h3>
          <p class="santa-rita-wine-reviews__verified"><span aria-hidden="true">&#10003;</span> Verificado</p>
        </header>

        <div class="santa-rita-wine-reviews__content">
          <div class="santa-rita-wine-reviews__stars" aria-label="5 de 5 estrellas">
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
          </div>
          <p class="santa-rita-wine-reviews__text">muy rico el vino, muy rico en boca y con un aroma suave. 100% recomendado</p>
        </div>

        <time class="santa-rita-wine-reviews__date" datetime="2026-02-11">11/02/26</time>
      </article>

      <article class="santa-rita-wine-reviews__item">
        <header class="santa-rita-wine-reviews__reviewer">
          <h3 class="santa-rita-wine-reviews__name">Jorge Villalobos</h3>
          <p class="santa-rita-wine-reviews__verified"><span aria-hidden="true">&#10003;</span> Verificado</p>
        </header>

        <div class="santa-rita-wine-reviews__content">
          <div class="santa-rita-wine-reviews__stars" aria-label="5 de 5 estrellas">
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
            <span>&#9733;</span>
          </div>
          <p class="santa-rita-wine-reviews__text">muy rico el vino, muy rico en boca y con un aroma suave. 100% recomendado</p>
        </div>

        <time class="santa-rita-wine-reviews__date" datetime="2026-02-11">11/02/26</time>
      </article>
    </div>

    <button class="santa-rita-wine-reviews__more-button" type="button">Ver m&aacute;s</button>

    <nav class="santa-rita-wine-reviews__pagination" aria-label="Paginaci&oacute;n de opiniones">
      <a class="santa-rita-wine-reviews__page santa-rita-wine-reviews__page--prev" href="#" aria-label="P&aacute;gina anterior">&#8249;</a>
      <a class="santa-rita-wine-reviews__page is-active" href="#" aria-current="page">1</a>
      <a class="santa-rita-wine-reviews__page" href="#">2</a>
      <a class="santa-rita-wine-reviews__page" href="#">3</a>
      <span class="santa-rita-wine-reviews__ellipsis">...</span>
      <a class="santa-rita-wine-reviews__page" href="#">10</a>
      <a class="santa-rita-wine-reviews__page santa-rita-wine-reviews__page--next" href="#" aria-label="P&aacute;gina siguiente">&#8250;</a>
    </nav>
  </div>
</section>
